@font-face {
	font-family: 'Aladin';
	src: url(../../assets/fonts/ZgNSjPJFPrvJV5fF4C35hmfmN7CO.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Aladin';
	src: url(../../assets/fonts/ZgNSjPJFPrvJV5fF7i35hmfmNw.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
	font-family: 'Allerta Stencil';
	src: url(../../assets/fonts/HTx0L209KT-LmIE9N7OR6eiycOe1_Db29XP-vA.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}.box {
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px #555;
}

.box img {
  width: 100%;
  height: auto;
}

.box .box-layer {
  width: 100%;
  height: 100%;
  background: rgba(69, 88, 65, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transition: all 0.4s cubic-bezier(0, 1.31, 1, -0.29) 0.4s;
  -o-transition: all 0.4s cubic-bezier(0, 1.31, 1, -0.29) 0.4s;
  -webkit-transition: all 0.4s cubic-bezier(0, 1.31, 1, -0.29) 0.4s;
  -moz-transition: all 0.4s cubic-bezier(0, 1.31, 1, -0.29) 0.4s;
  transition: all 0.4s cubic-bezier(0, 1.31, 1, -0.29) 0.4s;
}

.box:hover .box-layer {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.box .box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  color: #fff;
  opacity: 0;
  padding-top: 25px;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.box:hover .box-content {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.box .title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin-top: 20px;
}

.box .description {
  font-size: 14px;
  font-style: italic;
  margin: 15px 0;
  padding: 0 10px;
}

.box .read-more {
  display: block;
  width: 120px;
  background: #d73253;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 5px;
  margin: 0 auto;
}

@media only screen and (max-width:990px) {
  .box {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width:479px) {
  .box .box-content {
    padding-top: 0;
  }
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 992px) {
  .footer-div-left {
    border-right: 0.5px solid rgb(255,255,255);
    padding-right: 35px;
  }
}

@media (min-width: 992px) {
  .footer-div-right {
    border-left: 0.5px solid rgb(255,255,255);
    padding-left: 35px;
  }
}

@media (max-width: 992px) {
  .footer-para {
    display: none;
    /*margin-top: 200px;*/
  }
}

.footer-name {
  text-align: right;
}

@media (max-width: 992px) {
  .footer-name {
    text-align: center;
  }
}

.footer-pages {
  text-align: center;
}

@media (min-width: 992px) {
  .footer-pages {
    text-align: right;
    font-size: 24px;
  }
}

.old-footer {
  margin: auto !important;
}

.header-pages-PC {
  padding-top: 25vh;
  padding-bottom: 10vh;
}

.header-pages-mobile {
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.pages-header-edu {
  margin-top: -45vh;
  margin-bottom: 35vh;
}

.pages-header {
  margin-top: -45vh;
  margin-bottom: 10vh;
}

.spacer {
  height: 20vh;
}

@media (max-width: 992px) {
  .homeSliderImage {
    width: 160px !important;
    height: 90px !important;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
  }
}

@media (min-width: 992px) {
  .homeSliderImage {
    width: 320px !important;
    height: 180px !important;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
  }
}

.overflowHidden-reverse {
  display: flex;
  /*flex-wrap: nowrap;*/
  /*overflow: visible;*/
  flex-direction: row-reverse !important;
}

.overflowHidden {
  display: flex;
  /*flex-wrap: nowrap;*/
  /*overflow: visible;*/
}

.xlHeader--left2 {
  /*margin-right: -100px !important;*/
  text-align: right;
}

.postLoader-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 1;
  z-index: 9998;
  background-color: black;
}

.postLoader-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 1;
  z-index: 9999;
  background-color: white;
}

.postLoader {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 1;
  background: black;
  z-index: 99999;
}

.features-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #1485ee;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer-basic-acc {
  margin-top: 20px;
  background-color: #121212;
  color: #4b4c4d;
  position: sticky;
}

.footer-basic {
  margin-top: -20px;
  background-color: #121212;
  color: #4b4c4d;
  position: sticky;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.bs-icon {
  --bs-icon-size: 0.75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--white);
  background: var(--primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--primary);
  background: rgba(0,123,255,0.2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

html {
  background-color: #060606;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body {
  overflow: overlay;
}

/* --------------------------- PreLoader --------------------------- */

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 999999;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 49vh !important;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(255, 255, 255);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* --------------------------- Home Slider --------------------------- */

@media (max-width: 992px) {
  .xlHeader {
    padding: 15px 0;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .xlHeader {
    padding: 25px 0;
    overflow: hidden;
  }
}

.xlHeader__header {
  /*font-size: 100px;*/
  /*line-height: 100px;*/
}

.xlHeader--right2 {
  /*padding: 100px 0;*/
  /*position: relative;*/
  margin-left: -100px !important;
}

.xlHeader--right .xlHeader__header {
  /*position: initial;*/
  /*top: 50%;*/
  /*right: -60px !important;*/
  /*transform: translate(0px, -50%);*/
}

/* --------------------------- Hero --------------------------- */

.heroRight {
  text-align: center !important;
}

@media only screen and (min-width: 1200px) {
  .heroRight {
    text-align: right !important;
    padding-right: 10vw !important;
    margin-bottom: 20px;
  }
}

/* --------------------------- Footer --------------------------- */

@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

.footer-div-1 {
  background: linear-gradient(45deg, #91ddff, #375bff, #91ddff, #375bff);
  animation: gradient 2.5s ease infinite;
  background-size: 400% 400%;
  transform: skewY(-4deg);
}

.footer-div-2 {
  background: linear-gradient(45deg, #91ddff, #375bff, #91ddff, #375bff);
  animation: gradient 2.5s ease infinite;
  background-size: 400% 400%;
}

.footer-div-2 {
  background: linear-gradient(45deg, #9700ff, #aa4aec, #7100bf, #aa4aec);
  animation: gradient 2.5s ease infinite;
  background-size: 400% 400%;
}

.footer-div-3 {
  background: linear-gradient(45deg, #006c77, #00e7ff);
  animation: gradient 2.5s ease infinite;
  background-size: 400% 400%;
}

.footer-div {
  background: linear-gradient(45deg, #ef008f, #aa4aec, #91ddff, #ffca57);
  animation: gradient 2.5s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* --------------------------- Home Page --------------------------- */

.hero-container {
  margin-bottom: 20px;
  margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
  .hero-container {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .headshot {
    padding: 30px !important;
  }
}

.eventImage {
  border-radius: 20px;
}

.eventTextPop {
  border-radius: 50px;
  color: #fff;
  text-align: center;
}

@media (max-width: 992px) {
  .footerLinks {
    margin: auto !important;
    margin-bottom: 20px !important;
  }
}

.footerLinks {
  border-radius: 30px;
  /*margin: auto;*/
  text-align: center;
  padding: 7px;
  margin: 7px;
}

/* --------------------------- Experience Page --------------------------- */

.exp {
  transform: skewY(-4deg);
}

.ex {
  transform: skewY(4deg) !important;
}

.exp1 {
  background-image: linear-gradient(to bottom right, #006386, #004057);
  transform: skewY(-4deg);
}

.exp2 {
  background-image: linear-gradient(to bottom right, #4eff5b, #007c08);
  transform: skewY(-4deg);
}

.exp3 {
  background-image: linear-gradient(to bottom right, #2549ff, #202a5d);
  transform: skewY(-4deg);
}

.exp4 {
  background-image: linear-gradient(to bottom right, #2446ff, #2c3878);
  transform: skewY(-4deg);
}

.exp5 {
  background-image: linear-gradient(to bottom right, #006199, #38b6ff);
  transform: skewY(-4deg);
}

.exp6 {
  background-image: linear-gradient(to bottom right, #004047, #2295a1);
  transform: skewY(-4deg);
}

.exp7 {
  background-image: linear-gradient(to bottom right, #fd8d36, #f9c45f);
  transform: skewY(-4deg);
}

.exp8 {
  background-image: linear-gradient(to bottom right, #006ba7, #081a24);
  transform: skewY(-4deg);
}

.exp9 {
  background-image: linear-gradient(to bottom right, #00522a, #02a556);
  transform: skewY(-4deg);
}

.exp10 {
  background-image: linear-gradient(to bottom right, #007b9d, #45dde3);
  transform: skewY(-4deg);
}

.exp11 {
  background-image: linear-gradient(to bottom right, #3d18ff, #0e0057);
  transform: skewY(-4deg);
}

.exp12 {
  background-image: linear-gradient(to bottom right, #2c2c2c, #404041);
  transform: skewY(-4deg);
}

.exp13 {
  background-image: linear-gradient(to bottom right, #003b72, #027ef2);
  transform: skewY(-4deg);
}

.exp14 {
  background-image: linear-gradient(to bottom right, #b43a00, #fd5709);
  transform: skewY(-4deg);
}

.exp15 {
  background-image: linear-gradient(to bottom right, #0e0a2c, #1400ad);
  transform: skewY(-4deg);
}

.exp39 {
  background-image: linear-gradient(to bottom right, #7399c6, #417dc4);
  transform: skewY(-4deg);
}

.exp40 {
  background-image: linear-gradient(to bottom right, #007296, #01465c);
  transform: skewY(-4deg);
}

.exp02 {
  background-image: linear-gradient(to bottom right, #f26654, #f4786b);
  transform: skewY(-4deg);
}

.exp16 {
  background-image: linear-gradient(to bottom right, #a02200, #eb5830);
  transform: skewY(-4deg);
}

.exp17 {
  background-image: linear-gradient(to bottom right, #00773c, #2c3430);
  transform: skewY(-4deg);
}

.exp18 {
  background-image: linear-gradient(to bottom right, #002641, #015796);
  transform: skewY(-4deg);
}

.exp19 {
  background-image: linear-gradient(to bottom right, #2f5cff, #0027b3);
  transform: skewY(-4deg);
}

.exp20 {
  background-image: linear-gradient(to bottom right, #004f63, #009cc4);
  transform: skewY(-4deg);
}

.exp21 {
  background-image: linear-gradient(to bottom right, #5f0019, #dd3c66);
  transform: skewY(-4deg);
}

.exp22 {
  background-image: linear-gradient(to bottom right, rgb(51, 0, 14), #bf1522);
  transform: skewY(-4deg);
}

.exp23 {
  background-image: linear-gradient(to bottom right, #9c7000, #e7b12d);
  transform: skewY(-4deg);
}

.exp24 {
  background-image: linear-gradient(to bottom right, #003558, #0a64a1);
  transform: skewY(-4deg);
}

.exp25 {
  background-image: linear-gradient(to bottom right, #1b1b1b, #3b3b3b);
  transform: skewY(-4deg);
}

.exp26 {
  background-image: linear-gradient(to bottom right, #4901bd, #7354a5);
  transform: skewY(-4deg);
}

.exp27 {
  background-image: linear-gradient(to bottom right, #a36700, #ffa914);
  transform: skewY(-4deg);
}

.exp28 {
  background-image: linear-gradient(to bottom right, #005c34, #27ab71);
  transform: skewY(-4deg);
}

.exp29 {
  background-image: linear-gradient(to bottom right, #41004b, #7b3e85);
  transform: skewY(-4deg);
}

.exp30 {
  background-image: linear-gradient(to bottom right, #a81c00, #682012);
  transform: skewY(-4deg);
}

.exp31 {
  background-image: linear-gradient(to bottom right, #8a3c00, #f19146);
  transform: skewY(-4deg);
}

.exp32 {
  background-image: linear-gradient(to bottom right, #00415f, #088bc9);
  transform: skewY(-4deg);
}

.exp01 {
  background-image: linear-gradient(to bottom right, #172d88, #364fb3);
  transform: skewY(-4deg);
}

.exp33 {
  background-image: linear-gradient(to bottom right, #f300a6, #85005b);
  transform: skewY(-4deg);
}

.exp34 {
  background-image: linear-gradient(to bottom right, #2885ff, #00193a);
  transform: skewY(-4deg);
}

.exp35 {
  background-image: linear-gradient(to bottom right, #7c48d6, #4813a3);
  transform: skewY(-4deg);
}

.exp36 {
  background-image: linear-gradient(to bottom right, #ffd000, #d6af00);
  transform: skewY(-4deg);
}

.exp37 {
  background-image: linear-gradient(to bottom right, #019bd7, #00658d);
  transform: skewY(-4deg);
}

.exp38 {
  background-image: linear-gradient(to bottom right, #ed6d0a, #a44700);
  transform: skewY(-4deg);
}

/* --------------------------- Certifications Page --------------------------- */

.gradientText {
  text-transform: uppercase;
  background: linear-gradient(to right, #00c4cc 0%, #7c2ae8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .cert {
    background-image: url(../../assets/img/BW2.webp) !important;
  }
}

/* --------------------------- Event Page --------------------------- */

.eveText {
  text-align: right !important;
  padding-left: 150px;
}

.eventDiv {
  color: #ffffff;
  width: 100%;
  height: 300px;
  border-radius: 5px !important;
  margin-left: -100px;
}

.eventDiv p {
  margin-left: 10%;
  margin-right: 40%;
}

.eventDiv p:first-of-type {
  padding-top: 15% !important;
}

.eventImg {
  width: 350px !important;
  margin-left: 50%;
  margin-top: -60%;
  z-index: 99999 !important;
}

@media only screen and (max-width: 1200px) {
  .eventImg {
    display: block;
    width: 250px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    z-index: 99999 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .eveText {
    text-align: center !important;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .eventDiv {
    height: 230px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .eventDiv p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .eventDiv p:first-of-type {
    padding-top: 10% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .eveGradientText {
    margin-top: 50px;
  }
}

.eveGradientText1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00c4cc 0%, #7c2ae8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText2 {
  text-transform: uppercase;
  background: linear-gradient(to right, #bb0000 0%, #ff0043 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText3 {
  text-transform: uppercase;
  background: linear-gradient(to right, #2d31f3 0%, #00a2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText4 {
  text-transform: uppercase;
  background: linear-gradient(to right, #d31093 0%, #1846fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText5 {
  text-transform: uppercase;
  background: linear-gradient(to right, #002366 0%, #004fe4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText6 {
  text-transform: uppercase;
  background: linear-gradient(to right, #c95700 0%, #ff630c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText7 {
  text-transform: uppercase;
  background: linear-gradient(to right, #96c93d 0%, #00b09b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText8 {
  text-transform: uppercase;
  background: linear-gradient(to right, #ff914d 0%, #ffde59 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText-education {
  background: linear-gradient(to right, #3E187A 0%, #9921E8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText-specialization {
  background: linear-gradient(to right, #912200 0%, #e63700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText-courses {
  background: linear-gradient(to right, #004047 0%, #009eae 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText9 {
  text-transform: uppercase;
  background: linear-gradient(to right, #004aad 0%, #38b6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText10 {
  text-transform: uppercase;
  background: linear-gradient(to right, #d3a200 0%, #ffd23c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText11 {
  text-transform: uppercase;
  background: linear-gradient(to right, #450053 0%, #9c0fb8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText12 {
  text-transform: uppercase;
  background: linear-gradient(to right, #ffa300 0%, #fa4703 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText13 {
  text-transform: uppercase;
  background: linear-gradient(to right, #330092 0%, #6f42c1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText14 {
  text-transform: uppercase;
  background: linear-gradient(to right, #001b7a 0%, #345ffd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eveGradientText15 {
  text-transform: uppercase;
  background: linear-gradient(to right, #ac45d4 0%, #6f00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eventDiv1 {
  background-image: linear-gradient(to right, #00c4cc 0%, #7c2ae8 100%) !important;
}

.eventDiv2 {
  background-image: linear-gradient(to right, #bb0000 0%, #ff0043 100%) !important;
}

.eventDiv3 {
  background-image: linear-gradient(to right, #2d31f3 0%, #00a2ff 100%) !important;
}

.eventDiv4 {
  background-image: linear-gradient(to right, #d31093 0%, #1846fa 100%) !important;
}

.eventDiv5 {
  background-image: linear-gradient(to right, #002366 0%, #004fe4 100%) !important;
}

.eventDiv6 {
  background-image: linear-gradient(to right, #c95700 0%, #ff630c 100%) !important;
}

.eventDiv7 {
  background-image: linear-gradient(to right, #96c93d 0%, #00b09b 100%) !important;
}

.eventDiv8 {
  background-image: linear-gradient(to right, #ff914d 0%, #ffde59 100%) !important;
}

.eventDiv-specialization {
  background-image: linear-gradient(to right, #912200 0%, #e63700 100%) !important;
}

.eventDiv-courses {
  background-image: linear-gradient(to right, #004047 0%, #009eae 100%) !important;
}

.eventDiv-education {
  background-image: linear-gradient(to right, #3E187A 0%, #9921E8 100%) !important;
}

.eventDiv9 {
  background-image: linear-gradient(to right, #004aad 0%, #38b6ff 100%) !important;
}

.eventDiv10 {
  background-image: linear-gradient(to right, #d3a200 0%, #ffd23c 100%) !important;
}

.eventDiv11 {
  background-image: linear-gradient(to right, #450053 0%, #9c0fb8 100%) !important;
}

.eventDiv12 {
  background-image: linear-gradient(to right, #ffa300 0%, #fa4703 100%) !important;
}

.eventDiv13 {
  background-image: linear-gradient(to right, #330092 0%, #6f42c1 100%) !important;
}

.eventDiv14 {
  background-image: linear-gradient(to right, #001b7a 0%, #345ffd 100%) !important;
}

.eventDiv15 {
  background-image: linear-gradient(to right, #ac45d4 0%, #6f00ff 100%) !important;
}

/* --------------------------- Accomplishments Page --------------------------- */

.paddingAcc {
  padding: 60px;
}

@media only screen and (max-width: 1200px) {
  .paddingAcc {
    padding: 30px;
  }
}

.containerAcc {
  padding: 20px;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.imageSection {
  padding: 40px;
}

@media only screen and (max-width: 1200px) {
  .imageSection {
    padding: 15px;
  }
}

.imageAcc {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textSection {
  padding: 40px;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .textSection {
    padding: 15px;
    text-align: center;
  }
}

.headAcc {
  color: whitesmoke;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .headAcc {
    font-size: 30px;
  }
}

.italicAcc {
  color: whitesmoke;
  font-style: italic;
  font-size: 17px;
}

.hrBar {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2px;
  background-color: whitesmoke;
}

.paraAcc {
  color: whitesmoke;
  font-size: 17px;
}

.paddingAcc0 {
  background: repeating-radial-gradient( circle at 0 0, #252525, #030303 50px );
}

.paddingAcc1 {
  background: repeating-radial-gradient( circle at 0 0, #396afc, #254ab9 150px );
}

.paddingAcc01 {
  background: repeating-radial-gradient( circle at 0 0, #002491, #001555 150px );
}

.paddingAcc2 {
  background: repeating-radial-gradient( circle at 0 0, #983ac9, #651491 150px );
}

.paddingAcc3 {
  background: repeating-radial-gradient( circle at 0 0, #dd503d, #9c1b09 150px );
}

.paddingAcc4 {
  background: repeating-radial-gradient( circle at 0 0, #01745c, #004939 150px );
}

.paddingAcc5 {
  background: repeating-radial-gradient( circle at 0 0, #ffd735, #f7ad35 150px );
}

.paddingAcc6 {
  background: repeating-radial-gradient( circle at 0 0, #960002, #530002 150px );
}

/* --------------------------- Projects Page --------------------------- */

.projectDiv {
  min-height: 80vh;
  padding: 5vw;
}

.projectDivDiv {
  margin: auto;
  width: 86vw;
  min-height: 70vh;
  border-radius: 10px;
  padding-top: 5vh;
}

@media only screen and (max-width: 1200px) {
  .projectDiv {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

@media only screen and (max-width: 1200px) {
  .projectDivDiv {
    padding-top: 2vh;
    padding-bottom: 10vh;
  }
}

.projectImages {
  text-align: center !important;
  padding: 3vw;
}

.projectImage1 {
  width: 25vw;
}

.projectImage2 {
  margin-left: -10vw;
  width: 25vw;
}

.projectImage3 {
  margin-left: -10vw;
  width: 25vw;
}

.projectImage4 {
  margin-left: -10vw;
  width: 25vw;
}

@media only screen and (max-width: 800px) {
  .projectImage1 {
    margin-top: 30px;
    width: 320px;
  }
}

@media only screen and (max-width: 800px) {
  .projectImage2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 320px;
  }
}

@media only screen and (max-width: 800px) {
  .projectImage3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 320px;
  }
}

@media only screen and (max-width: 800px) {
  .projectImage4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 320px;
  }
}

.projectTextDiv {
  padding: 5vw;
  text-align: left;
}

.Line {
  width: 80%;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .projectTextDiv {
    padding: 5vw;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .Line {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .LineMargin {
    margin-top: 50px;
  }
}

.projectDiv1 {
  background-image: linear-gradient(to top right, #004677 0%, #1ba1ff 100%) !important;
}

.projectDivDiv1 {
  background-image: linear-gradient(to top right, #1ba1ff 0%, #004677 100%) !important;
}

.projectDiv2 {
  background-image: linear-gradient(to top right, #ff3535 0%, #880000 100%) !important;
}

.projectDivDiv2 {
  background-image: linear-gradient(to top right, #880000 0%, #ff3535 100%) !important;
}

.projectDiv3 {
  background-image: linear-gradient(to top right, #4DED30 0%, #00AB08 100%) !important;
}

.projectDivDiv3 {
  background-image: linear-gradient(to top right, #00AB08 0%, #4DED30 100%) !important;
}

.projectDiv04 {
  background-image: linear-gradient(to top right, #01336f 0%, #0066e1 100%) !important;
}

.projectDiv02 {
  background-image: linear-gradient(to top right, #b02e0c 0%, #eb4511 100%) !important;
}

.projectDiv03 {
  background-image: linear-gradient(to top right, #ee5a24 0%, #ea2027 100%) !important;
}

.projectDiv01 {
  background-image: linear-gradient(to top right, #b5005d 0%, #d20076 100%) !important;
}

.projectDiv4 {
  background-image: linear-gradient(to top right, #5f0a87 0%, #9c00e4 100%) !important;
}

.projectDivDiv04 {
  background-image: linear-gradient(to top right, #0066e1 0%, #01336f 100%) !important;
}

.projectDivDiv02 {
  background-image: linear-gradient(to top right, #eb4511 0%, #b02e0c 100%) !important;
}

.projectDivDiv03 {
  background-image: linear-gradient(to top right, #ea2027 0%, #ee5a24 100%) !important;
}

.projectDivDiv01 {
  background-image: linear-gradient(to top right, #d20076 0%, #b5005d 100%) !important;
}

.projectDivDiv4 {
  background-image: linear-gradient(to top right, #9c00e4 0%, #5f0a87 100%) !important;
}

.projectDiv5 {
  background-image: linear-gradient(to top right, #FF6200 0%, #993b00 100%) !important;
}

.projectDivDiv5 {
  background-image: linear-gradient(to top right, #993b00 0%, #FF6200 100%) !important;
}

.projectDiv6 {
  background-image: linear-gradient(45deg, #b91372 0%, #6b0f1a 100%) !important;
}

.projectDivDiv6 {
  background-image: linear-gradient(45deg, #6b0f1a 0%, #b91372 100%) !important;
}

/* --------------------------- Gradient Canvas --------------------------- */

#gradient-canvas-acc {
  width: 100%;
  height: 100%;
  --gradient-color-1: #4158D0;
  --gradient-color-2: #E100FF;
  --gradient-color-3: #aa4aec;
  --gradient-color-4: #FC00FF;
  z-index: 0;
}

#gradient-canvas-product2 {
  width: 100%;
  height: 100%;
  --gradient-color-1: #5F0A87;
  --gradient-color-3: #AD1DEB;
  --gradient-color-2: #3E187A;
  --gradient-color-4: #9921E8;
  z-index: 0;
}




#gradient-canvas-product1 {
  width: 100%;
  height: 100%;
  --gradient-color-3: #e60096;
  --gradient-color-4: #b61484;
  --gradient-color-1: #ff0090;
  --gradient-color-2: #b5005d;
  z-index: 0;
}

#gradient-canvas-work-exp {
  width: 100%;
  height: 100%;
  --gradient-color-1: #aa4aec;
  --gradient-color-2: #aa0066;
  --gradient-color-3: #6e00ba;
  --gradient-color-4: #ef008f;
  z-index: 0;
}

#gradient-canvas-specializations {
  width: 100%;
  height: 100%;
  --gradient-color-2: #ff3d00;
  --gradient-color-1: #ff4d00;
  --gradient-color-4: #962400;
  --gradient-color-3: #ff6433;
  z-index: 0;
}

#gradient-canvas-courses {
  width: 100%;
  height: 100%;
  --gradient-color-1: #004047;
  --gradient-color-2: #0c93a2;
  --gradient-color-3: #1e6f78;
  --gradient-color-4: #00d9ef;
  z-index: 0;
}

#gradient-canvas-prof-roles {
  width: 100%;
  height: 100%;
  --gradient-color-1: #004047;
  --gradient-color-2: #2295a1;
  --gradient-color-3: #0c93a2;
  --gradient-color-4: #00d9ef;
  z-index: 0;
}

#gradient-canvas-open-source {
  width: 100%;
  height: 100%;
  --gradient-color-1: #007295;
  --gradient-color-2: #00a0d2;
  --gradient-color-3: #004e66;
  --gradient-color-4: #00c3ff;
  z-index: 0;
}

#gradient-canvas-volunteer {
  width: 100%;
  height: 100%;
  --gradient-color-1: #007295;
  --gradient-color-2: #00a0d2;
  --gradient-color-3: #004e66;
  --gradient-color-4: #00c3ff;
  z-index: 0;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #91ddff;
  --gradient-color-2: #ef008f;
  --gradient-color-3: #aa4aec;
  --gradient-color-4: #ffca57;
  z-index: 0;
}

#gradient-canvas-1 {
  width: 100%;
  height: 100%;
  --gradient-color-1: #91ddff;
  --gradient-color-2: #ef008f;
  --gradient-color-3: #aa4aec;
  --gradient-color-4: #ffca57;
  z-index: 0;
}

#gradient-canvas-2 {
  width: 100%;
  height: 100%;
  --gradient-color-1: #91ddff;
  --gradient-color-2: #ef008f;
  --gradient-color-3: #aa4aec;
  --gradient-color-4: #ffca57;
  z-index: 0;
}

#gradient-canvas-3 {
  width: 100%;
  height: 100%;
  --gradient-color-1: #91ddff;
  --gradient-color-2: #ef008f;
  --gradient-color-3: #aa4aec;
  --gradient-color-4: #ffca57;
  z-index: 0;
}

.pages-canvas-1 {
  width: 100%;
  height: 80vh;
  margin-top: -10vh;
}

.pages-canvas-2 {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.pages-canvas-edu {
  width: 100%;
  height: 70vh;
  clip-path: ellipse(100% 55% at 48% 44%);
}

.pages-canvas {
  width: 100%;
  height: 70vh;
}

#canvas-top {
  width: 100%;
  height: 92vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0 100%);
}

@media (max-width: 992px) {
  #canvas-top {
    width: 100%;
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
  }
}

/* --------------------------- Navbar --------------------------- */

/* .navbarr {

  .custom-navbar-brand {
    color: #ffffff !important;
    font-size: 5vh;
    font-family: 'Aladin';
  }
  
  .custom-navbar-toggle {
    color: #ffffff;
  }

  .custom-navbar-collapse {
    color: #ffffff;
    font-weight: 500;
    font-size: larger;
  }
}

.navbarr.solid-navbar {
  background-color: #ffffff;
  transition: background-color 0.4s ease 0s;

  .custom-navbar-brand {
    background: linear-gradient(to right, #91ddff 0%, #aa4aec 50%, #ef008f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.4s ease 0s;
  }
  
  .custom-navbar-toggle {
    color: #000000;
    transition: color 0.4s ease 0s;
  }

  
  .custom-navbar-collapse {
    color: #000000;
    transition: color 0.4s ease 0s;
  }

} */

.custom-navbar-brand {
  color: #ffffff !important;
  font-size: 40px;
  font-family: 'Aladin';
}

.custom-navbar-collapse {
  color: #ffffff !important;
  font-weight: 500;
  font-size: larger;
}

.navbar {
  /*backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);*/
  /*border-bottom: 0.5px solid #ffffff !important;*/
  transition: backdrop-filter 0.4s ease 0s;
  /*transition: border-bottom 0.4s ease 0s;*/
}

@media (max-width: 992px) {
  .navbar {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /*border-bottom: 0.5px solid #ffffff !important;*/
    transition: backdrop-filter 0.4s ease 0s;
    /*transition: border-bottom 0.4s ease 0s;*/
  }
}

.navbar.solid-navbar {
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border-bottom: 0.5px solid #ffffff !important;
  /*transition: backdrop-filter 0.4s ease 0s;*/
  transition: border-bottom 0.4s ease 0s;
}

@media (max-width: 992px) {
  .navbar.solid-navbar {
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
  }
}

/* --------------------------- Hero 2 Section --------------------------- */

.hero-images {
  margin-top: -75vh;
  background-color: #060606;
}

@media (max-width: 992px) {
  .hero-images {
    margin-top: -60vh;
    background-color: #060606;
  }
}

.hero-images-parent {
  position: relative;
  top: 0;
  left: 0;
}

.hero-images-image1 {
  position: relative;
  top: 0;
  left: 0;
}

.hero-images-image2 {
  position: absolute;
  top: 0;
  left: 0;
}

.gradient-hero-text {
  mix-blend-mode: overlay;
}

.for-Mobile {
  display: none;
}

.for-PC {
  display: block;
}

@media only screen and (max-width: 992px) {
  .for-Mobile {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .for-PC {
    display: none;
  }
}

/* --------------------------- Product Cards --------------------------- */

body .ProductContainer {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1px;
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 992px) {
  body .ProductContainer {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
  }
}

body .ProductContainer .ProductCard {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #060606;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0,0,0,0.5);
  background-image: url("../../assets/img/blackbg.webp");
  background-size: cover;
}

body .ProductContainer .ProductCard .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .ProductContainer .ProductCard .face.face1 {
  box-sizing: border-box;
  padding: 50px !important;
}

body .ProductContainer .ProductCard .face.face1 h2 {
  margin: 0;
  padding: 0;
}

body .ProductContainer .ProductCard .face.face1 .text1 {
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .ProductContainer .ProductCard .face.face1 .text2 {
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .ProductContainer .ProductCard .face.face1 .text3 {
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .ProductContainer .ProductCard .face.face2 {
  transition: 0.5s;
}

body .ProductContainer .ProductCard .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
}

body .ProductContainer .ProductCard:hover .face.face2 {
  height: 60px;
}

body .ProductContainer .ProductCard:hover .face.face2 h2 {
  font-size: 2em;
}

body .ProductContainer .ProductCard:nth-child(1) .face.face2 {
  background-image: url('../../assets/img/ProductCard1.png');
  background-size: cover;
  border-radius: 15px;
}

body .ProductContainer .ProductCard:nth-child(2) .face.face2 {
  background-image: url('../../assets/img/ProductCard3.png');
  background-size: cover;
  border-radius: 15px;
}

body .ProductContainer .ProductCard:nth-child(3) .face.face2 {
  background-image: url('../../assets/img/ProductCard4.png');
  background-size: cover;
  border-radius: 15px;
}

body .ProductContainer .ProductCard:nth-child(4) .face.face2 {
  background-image: url('../../assets/img/ProductCard2.png');
  background-size: cover;
  border-radius: 15px;
}

.productHeaderText {
  font-size: 4vw;
}

@media (max-width: 992px) {
  .productHeaderText {
    font-size: 7.5vw;
    padding: 5vw;
  }
}

.productHeaderSpan {
  background: linear-gradient(to top right, #662D8C 0%, #ED1E79 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------------------- Product Cards --------------------------- */

.neon-btn:before {
  color: #fff !important;
}

.neon-btn:after {
  color: #fff !important;
}

.neon-btn {
  color: #fff !important;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none !important;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 600px) {
  .neon-btn-btn {
    margin: 0 1em 2em;
  }
}

.neon-btn-btn:hover {
  text-decoration: none !important;
}

.neon-btn-1 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.neon-btn-1:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  /*text-shadow: 1px 1px 2px #72cff7;*/
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../../assets/img/hamburger-icon.svg");
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}

/* --------------------------- Product Cards --------------------------- */

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover, .ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
}

@media only screen and (max-width: 979px) {
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses-item_link {
    padding: 22px 40px;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* --------------------------- Achievement Cards --------------------------- */

.ach-card {
  border-radius: 20px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 340px;
  height: 180px;
  padding: 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}

.ach-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.ach-card-1 {
  background-color: #ffffff;
}

.ach-card-1::before {
  background: linear-gradient(-45deg, #952afe, #a44aff);
}

.ach-card-2 {
  background-color: #ffffff;
}

.ach-card-2::before {
  background: linear-gradient(-45deg, #cd3e94, #fd49b5);
}

.ach-card-3 {
  background-color: #ffffff;
}

.ach-card-3::before {
  background: linear-gradient(-45deg, #e44102, #ff4800);
}

.ach-card-4 {
  background-color: #ffffff;
}

.ach-card-4::before {
  background: linear-gradient(-45deg, #e44102, #ff4800);
}

.ach-card-5 {
  background-color: #ffffff;
}

.ach-card-5::before {
  background: linear-gradient(-45deg, #952afe, #a44aff);
}

.ach-card:hover::before {
  transition-delay: 0.2s;
  transform: scale(40);
}

.ach-card:hover {
  color: #ffffff;
}

.ach-card p {
  padding: 10px 0;
  font-size: large;
  line-height: 1.35;
}

/* --------------------------- Courses Cards --------------------------- */

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 15em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em auto;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}

.data-card h2 {
  color: #2E3C40;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #9e3fff;
  transition: color 0.45s ease, border 0.45s ease;
}

.data-card h3 {
  color: #2E3C40;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #9e3fff;
  transition: color 0.45s ease, border 0.45s ease;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.2em;
  transition: color 0.45s ease;
}

.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 1.25;
  margin: 0 0 1em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}

.data-card:hover {
  background: #9e3fff;
  transform: scale(1.02);
}

.data-card:hover h2 {
  color: #FFFFFF;
  border-bottom-color: #f8e3ff;
}

.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #f8e3ff;
}

.data-card:hover h4 {
  color: #FFFFFF;
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

